






/*
 * Narcissus theme customization
 */
#dsq-content .dsq-header-avatar img {
    width: 48px;
    height: 48px;
}


/* 3*/ #dsq-content .dsq-comment-header img { height: 48px; width: 48px; } #dsq-content .dsq-thread-settings a { margin: 0 10px !important; } #dsq-content #dsq-thread-settings { padding: 5px; border: 1px solid #ccc !important; } .dsq-missing-permissions { display: none !important; } #dsq-content .cnn_strycmtsprl1 img { height: 48px !important; width: 48px !important;
